.cke_contents {
  height: 100px !important;

  /* Set the desired height */
}
.cke_reset {
  width: 36rem !important;
}

@media only screen and (max-width: 780px) {
  .cke_reset {
    width: 18rem !important;
  }
}

@media only screen and (max-width: 480px) {
  .cke_reset {
    width: 16rem !important;
  }
}
